view{
    
  height: 100%;
  display: flex;
  flex-direction: column;
  
}
.view-info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  height: 19rem;
  background-color: rgba(212, 209, 209, 0.678);
  border-radius: 1.5rem;
}
.btn-view{
  margin: 1rem;
}

button{
  width: 4rem;
  height: 1.5rem;
  border-radius: 0.4rem;

}
.editar{
  background-color: rgb(28, 200, 206);
  color: black;
  margin-left: 1rem;
}
.btn-excluir{
  background-color: rgba(255, 0, 0, 0.925);
  color: black;
  margin-left: 1rem;
}